* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
body {
  background-color: #f7f9fd;
}
.wrapper {
  width: 90%;
  font-size: 16px;
  max-width: 43.75em;
  margin: 1em auto;
}
.container {
  width: 100%;
}
.sub-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper h3 {
  color: #363d55;
  font-weight: 500;
  margin-bottom: 0.6em;
}
.container input {
  display: block;
  width: 100%;
  padding: 0.6em 0.3em;
  border: 1px solid #d0d0d0;
  border-radius: 0.3em;
  color: #414a67;
  outline: none;
  font-weight: 400;
  margin-bottom: 0.6em;
}
.container input:focus {
  border-color: #62bd5f;
}
.to-do-name-container,
.to-do-date-container {
  background-color: #ffffff;
  padding: 1.25em 0.9em;
  border-radius: 0.3em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}
.output-container {
  background-color: #62bd5f;
  color: #ffffff;
  border-radius: 0.3em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  margin: 2em 0;
  padding: 1.2em;
}
.output-container p {
  font-weight: 500;
  margin-bottom: 0.6em;
}
.output-container span {
  display: block;
  text-align: center;
  font-weight: 400;
  color: #e5e5e5;
}
.submit {
  font-size: 1em;
  margin-top: 0.8em;
  background-color: #62bd5f;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0.6em 1.2em;
  border-radius: 0.3em;
  cursor: pointer;
}
.list {
  background-color: #ffffff;
  padding: 1.8em 1.2em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  border-radius: 0.6em;
}
.sublist-content {
  width: 100%;
  border-left: 0.3em solid #62bd5f;
  margin-bottom: 0.6em;
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 1fr 1fr;
}
.sublist-content .sublist-header {
  grid-column: span 2; /* Merge from the first column to the second column */
}
.to-do-name-list {
  font-weight: 500;
  color: #363d55;
}
.to-do-date-list {
  color: #414a67;
  margin-left: 20%;
}
.icons-container {
  width: 5em;
  margin: 1.2em;
  align-items: center;
}
.to-do-date {
  margin-bottom: 1em;
}
.hide {
  display: none;
}
.error {
  color: #ff465a;
  font-style: italic;
  font-size: small;
}
.edit {
  margin-left: auto;
}
.edit,
.delete {
  background: transparent;
  cursor: pointer;
  margin-right: 1.5em;
  border: none;
  font-family: "Font Awesome\ 6 Free";
  justify-self: center;
}
.delete:hover {
  color: rgb(185, 19, 19);
  transform: scale(1.05); /* Optional: Scale the button on hover */
}
.edit:hover {
  color: rgb(24, 97, 170);
  transform: scale(1.05); /* Optional: Scale the button on hover */
}
.edit {
  color: dodgerblue;
}
.delete {
  color: red;
}
@media screen and (max-width: 600px) {
  .wrapper {
    font-size: 14px;
  }
  .sub-container {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
.title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25pt;
  font-weight: bolder;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  border-radius: 0.6em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 1px;
}
.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.submit-btn:hover {
  background-color: #198515;
  transform: scale(1.05);
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.complete {
  text-decoration: line-through;
  font-style: italic;
}
.header {
  font-weight: bold;
  font-size: 13pt;
}