<div class="wrapper">
  <div class="title">
    <h2 style="font-weight: bold;">MY TO-DO LIST</h2>
  </div>
  <div class="container">
    <div class="sub-container">
      <div class="to-do-name-container">
        <h3 class="header" style="font-weight: bold;">Nhắc nhở</h3>
        <input type="text" id="to-do-name" [(ngModel)]="todo.name" #name="ngModel" name="name"
          placeholder="Nhập tên nhắc nhở" required />
      </div>
      <div class="to-do-date-container">
        <h3 class="header" style="font-weight: bold;">Thời gian</h3>
        <input type="date" class="to-do-date" id="to-do-date" [(ngModel)]="todo.date" #date="ngModel" name="date"
          placeholder="Chọn ngày thực hiện" required />
      </div>
    </div>
    <div *ngIf="date.invalid || name.invalid">
      <button class="submit submit-btn disabled" id="save-button" (click)="saveToDo()">Lưu nhắc nhở</button>
      <ng-template #enableButton></ng-template>
    </div>
    <div *ngIf="date.valid && name.valid">
      <button class="submit submit-btn" id="save-button" (click)="saveToDo()">Lưu nhắc nhở</button>
      <ng-template #enableButton></ng-template>
    </div>
  </div>
  <!-- List -->
  <div class="list" style="margin-top: 30px;">
    <div class="list-container" id="list">
      <div class="sublist-content flex-space" style="border-left: 0.3em solid #ffffff;">
        <p class="to-do-name-list sublist-header header" style="  text-align: center;">Nhắc nhở</p>
        <p class="to-do-date-list header">Thời gian</p>
        <p class="to-do-date-list sublist-header header">Hành động</p>
      </div>
    </div>
    <div class="list-container" id="list" *ngFor="let todo of todoList; let i = index" style="font-size: 11pt;">
      <div class="sublist-content flex-space" *ngIf="todo.status">
        <input type="checkbox" checked (change)="updateStatus(i)" />
        <p class=" to-do-name-list complete">{{todo.name}}</p>
        <p class="to-do-date-list complete">{{todo.date | date:"dd-MM-yyyy"}}</p>
        <button class="fas fa-pen edit" style="font-size: 1.1em;" (click)="getToDo(i)"></button>
        <button class="fas fa-trash delete" style="font-size: 1.1em;" (click)="deleteToDo(i)"></button>
      </div>
      <div class="sublist-content flex-space" *ngIf="!todo.status">
        <input type="checkbox" (change)="updateStatus(i)" />
        <p class="to-do-name-list">{{todo.name}}</p>
        <p class="to-do-date-list">{{todo.date | date:"dd-MM-yyyy"}}</p>
        <button class="fas fa-pen edit" style="font-size: 1.1em;" (click)="getToDo(i)"></button>
        <button class="fas fa-trash delete" style="font-size: 1.1em;" (click)="deleteToDo(i)"></button>
      </div>
    </div>
  </div>
</div>